@model List<Product>

<div class="container mt-100">
    @if (User.IsInRole("Admin"))
    {
        <a class="mybtn btn" asp-action="GoToAddForm">Create New Product</a>
    }
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-lg-3 col-md-3 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        @if (product.Thumbnail != null)
                        {
                            <a><img id="profilePicture" alt="Profile" src="~/@product.Thumbnail" /></a>
                        }
                        else
                        {
                            <a><img id="picture" src="~/img/woocommercer.png" alt="Thumbnail" class="product-picture" /></a>
                        }
                    </div>
                    <h3>@product.Name</h3>
                    <p class="product-price"><span>Per Kg</span> 85$ </p>
                    <a asp-controller="Order" asp-action="Add" asp-route-id="@product.Id" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>


                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="GoToEditForm" asp-route-id="@product.Id" class="cart-btn"><i class="fas fa-shopping-cart"></i> Edit</a>
                        <a asp-action="Delete" asp-route-id="@product.Id" class="cart-btn"><i class="fas fa-shopping-cart"></i> Delete</a>
                    }

                </div>
            </div>
        }
    </div>
</div>


