@model category
<form action="/Categories/SaveEditFormData" class="p-4 border rounded shadow-lg bg-light">
    <div class="form-row">
        <div class="form-group col-md-6">
            <input type="text" class="form-control" name="id" id="id" hidden value="@Model.id">
        </div>

        <div class="form-group col-md-6 mb-3">
            <label for="name" class="form-label fw-bold">Name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Enter name" value="@Model.name">
        </div>

        <div class="form-group col-md-6 mb-3">
            <label for="description" class="form-label fw-bold">Description</label>
            <input type="text" class="form-control" id="description" name="description" placeholder="Enter description" value="@Model.description">
        </div>
    </div>

    <div class="form-group mb-4">
        <label for="thumbnail" class="form-label fw-bold">Thumbnail</label>
        <input type="text" class="form-control" id="thumbnail" name="thumbnail" placeholder="Enter thumbnail" value="@Model.thumbnail">
    </div>

    <button type="submit" class="btn btn-primary btn-lg w-100">Edit</button>
</form>

