<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- title -->
	<title>Epsilon</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="/img/enlargement.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="/css/responsive.css">
	<link rel="stylesheet" href="~/css/site.css"/>

</head>
<body>

	<!--PreLoader-->
	<div class="loader">
		<div class="loader-inner">
			<div class="circle"></div>
		</div>
	</div>
	<!--PreLoader Ends-->
	<!-- header -->
	<div class="top-header-area" id="sticker" style="background-color: #051922">
		<nav class="navbar navbar-expand-lg">
			<div class="container">
				<!-- Brand -->
				<a class="navbar-brand" asp-controller="Home" asp-action="Index"><h1 class="mytitle" style="color: #F28123;">Epsilon</h1></a>

				<!-- Toggler/collapsible Button -->
				<button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<!-- Navbar links -->
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ms-auto">
						<li class="nav-item">
							<a class="nav-link active" style="color: #F28123; font-weight: bold;" asp-controller="Home" asp-action="Index">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" style="color: #F28123; font-weight: bold;" asp-controller="Product" asp-action="GetAll">Product</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" style="color: #F28123; font-weight: bold;" asp-controller="Category" asp-action="GetAll">Category</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" style="color: #F28123; font-weight: bold;" asp-controller="Order" asp-action="GetAll">Order</a>
						</li>
						<!-- Include partial login if needed -->
						<partial name="_LoginPartial" />
					</ul>
				</div>
			</div>
		</nav>
		<!-- Mobile Menu -->
		<div class="mobile-menu" style="background-color: #F28123;"></div>
	</div>

	<!-- Custom CSS for the toggle button -->
	<style>
		/* Customizing the toggle button */
		.custom-toggler.navbar-toggler {
			border-color: #F28123;
		}

		.custom-toggler .navbar-toggler-icon {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(242, 129, 35, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
		}

		/* Changing color of the toggle bars */
		.navbar-toggler-icon {
			background-color: #051922;
		}

		/* Styling the nav-link items to be bold */
		.nav-link {
			font-weight: bold;
		}
	</style>

	<!-- end header -->



	<div class="container">
		<main role="main" class="mt-5 pb-3 py-5 min-vh-100">
			@RenderBody()
		</main>
	</div>
	<!-- end features list section -->

	<!-- end logo carousel -->
	<!-- footer -->

	<!-- end footer -->
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Mohamed Saad</a>,  All Rights Reserved.</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->
	<!-- jquery -->
	<script src="~/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="/js/sticker.js"></script>
	<!-- main js -->
	<script src="/js/main.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
	@await RenderSectionAsync("Scripts", required: false)

</body>
</html>