@model CategoryViewModel
<form asp-action="SaveFormData" class="p-4 border rounded shadow-lg bg-light">
    <div class="form-group mb-3">
        <label asp-for="name" class="form-label fw-bold">Name</label>
        <input asp-for="name" class="form-control" placeholder="Enter Name">
    </div>
    <div class="form-group mb-3">
        <label asp-for="description" class="form-label fw-bold">Description</label>
        <input asp-for="description"  class="form-control" placeholder="Enter description">
    </div>
    <div class="form-group mb-4">
        <label asp-for="thumbnail" class="form-label fw-bold">Thumbnail</label>
        <input asp-for="thumbnail" type="text" class="form-control" placeholder="Enter thumbnail">
    </div>
    <button type="submit" class="btn btn-primary btn-lg w-100">Add Category</button>
</form>


