@model Product
<form action="/Products/SaveFormData">
   // done
    <div class="form-group">
        <label for="exampleInputEmail1">Sku</label>
        <input type="text" class="form-control" name="Sku" id="Sku" placeholder="Sku">

    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" class="form-control" name="Name" id="Name" placeholder="Name">

    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Price</label>
        <input type="text" class="form-control" name="Price" id="Price" placeholder="Price">

    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Weight</label>
        <input type="text" class="form-control" name="Weight" id="Weight" placeholder="Weight">

    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Descriptions</label>
        <input type="text" class="form-control" name="Descriptions" id="Descriptions" placeholder="Descriptions">

    </div>
     <div class="form-group">
        <label for="exampleInputEmail1">Thumbnail</label>
        <input type="text" class="form-control" name="Thumbnail" id="Thumbnail" placeholder="Thumbnail">

    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Image</label>
        <input type="text" class="form-control" name="Image" id="Image" placeholder="Image">

    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Category</label>
        <input type="text" class="form-control" name="Category" id="Category" placeholder="Category">

    </div>
        <div class="form-group">
        <label for="exampleInputEmail1">CreateDate</label>
        <input type="text" class="form-control" name="CreateDate" id="CreateDate" placeholder="CreateDate">

    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Stock</label>
        <input type="text" class="form-control" name="Stock" id="Stock" placeholder="Stock">

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>